// Fonts

// Resolutions
$phone-landscape: 30em; 		// 480px
$tablet-portrait: 40em; 	// 640px
$tablet: 48em; 	// 768px
$tablet-landscape: 64em; 	// 1024px
$desktop: 80em; 			// 1280px
$wide-desktop: 100em; 	// 1600px

// Colors
$white: #fff;
$black: #000;
