<section id="home">
    <div id="button__container">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="" class="menu__logo">
        </div>
        <div class="workers-list__button">
            <img src="/assets/images/search.png" alt="" class="menu__icon">
            Szukaj pracownika
        </div>
        <div class="workers-list__button">
            <img src="/assets/images/map.png" alt="" class="menu__icon">
            Mapa biura
        </div>
        <div class="workers-list__button">
            <img src="/assets/images/dosth.png" alt="" class="menu__icon">
            Chcę coś załatwić
        </div>
        <div class="workers-list__button">
            <img src="/assets/images/about.png" alt="" class="menu__icon">
            O mnie/dodaj
        </div>
    </div>
</section>
<section id="list">
    <ul>

    </ul>
</section>
